{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container mt-4 d-flex justify-content-evenly">
        {% for todo in todos %}
            <div class="bg-dark  p-4 w-25 text-white"

                       <h1> {{ todo.title }}</h1> 
                       <br><br>
                       <button type="button" class="btn btn-outline-primary">
                           <a href="{% url 'details' todo.id %}"> Click </a>
                        </button>
            </div>    
        {% endfor %}
    </div>

{% endblock %}